<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>music poster</title>
    <link rel="stylesheet" href="static/css/about.css">
    <link rel="icon" href="static/images/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik&display=swap">
</head>

<body>
    <a href="{{ url_for('home') }}">
        <h1 class="title"> music poster </h1>
    </a>




    <div class="container">
        <a href="https://github.com/H-Bombmxpwr/MusicPoster" target="_blank" > It is open sourced</a>
    </div>


    <div id="grad1"></div>

    <footer>

        <a href="https://trevorg73.web.illinois.edu/" target="_blank" >my main website</a>

    </footer>
</body>

</html>