<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Poster</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="icon" href="static/images/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik&display=swap">
    <script type = 'module' defer  src ="static/js/spinner.js"></script>

</head>

<body>
    <div class="header-container">
        <a href="{{ url_for('home') }}">
            <h1 class="main-title">Album Poster</h1>
        </a>
        <a href="https://developer.spotify.com/documentation/web-api">
            <h2 class="sub-title">Powered by Spotify API</h2>
        </a>
    </div>

    <div class="poster-scroll-container" style="left: 10px;">
        <!-- JavaScript will dynamically add poster items here -->
    </div>

    
    

    <!-- input form -->
    <form class="grid" action="/result" method="POST" autocomplete="off">
        <center>

            <img src="{{ img_data }}">

        </center>
        
        <div class="one">
            <div class="label">
                <label for="artist">Enter an artist:</label>
            </div>
            <div class="box">
                <input type="text" list="artist-suggestions" style="font-size: 30pt;" name="artist" id="artist" placeholder="name">
                <datalist id="artist-suggestions"></datalist>
            </div>
        </div>
        
        <!-- Album input field -->
        <div class="two">
            <div class="label">
                <label for="album">Enter an album:</label>
            </div>
            <div class="box">
                <input type="text" list="album-suggestions" style="font-size: 30pt;" name="album" id="album"  placeholder="name or link">
                <datalist id="album-suggestions"></datalist>
            </div>
        </div>
        <div class="three">
            <div class="label">
                <label for="song"> Background color: </label>
            </div>
            <div class="box" id = "colorPicker">
                <input type="color" value=#ffffff id="back_color" name="background" class="custom">
            </div>
        </div>
        <div class="four">
            <div class="label">
                <label for="song"> Text color: </label>
            </div>
            <div class="box" id = "colorPicker">
                <input type="color" value=#000000 id="text_color" name="text" class="custom">
            </div>
        </div>

        <div class = "buttons">
            <template id = "spinner-template">
                <div id = "loader-div">
                <div class = "loader"></div>
            </div>
                </template>
            <div class="button" id = "button2">
                <center><input type="submit" id="search" value="Generate" class="search" /></center>
            </div>

            <div class="button" id = "button1">
                <center><a href="{{ url_for('surprise') }}" class="surprise-button">Surprise Me!</a></center>
            </div>   
        </div>
    </form>

    
        <!-- Right side scroll container for past posters -->
    
        <div class="poster-scroll-container" style="right: 10px;">
            <!-- JavaScript will dynamically add poster items here -->
        </div>
        
        
    <div id="grad1"></div>

    <footer>

        <a id = "footerText1" href="{{ url_for('mosaic') }}">Examples</a>
        <a id = "footerText2" href="{{ url_for('about') }}">About</a>

    </footer>
    <script src="{{ url_for('static', filename='js/auto.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/random.js') }}"></script>
</body>

</html>