<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>music poster</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="icon" href="static/images/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik&display=swap">
</head>

<body>
    <a href="{{ url_for('home') }}">
        <h1 class="title"> music poster</h1>
    </a>

    <div class="poster-scroll-container" style="left: 10px;">
        <!-- JavaScript will dynamically add poster items here -->
    </div>

    
    

    <!-- input form -->
    <form class="grid" action="/result" method="POST" autocomplete="off">
        <center>

            <img src="{{ img_data }}">

        </center>

        <div class="one">
            <div class="label">
                <label for="artist">Enter an artist:</label>
            </div>
            <div class="box">
                <input type="text" list="artist-suggestions" style="font-size:40pt;" name="artist" id="artist" size="10" placeholder="artist">
                <datalist id="artist-suggestions"></datalist>
            </div>
        </div>
        
        <!-- Album input field -->
        <div class="two">
            <div class="label">
                <label for="album">Enter an album:</label>
            </div>
            <div class="box">
                <input type="text" list="album-suggestions" style="font-size:40pt;" name="album" id="album" size="10" placeholder="album">
                <datalist id="album-suggestions"></datalist>
            </div>
        </div>
        <div class="three">
            <div class="label">
                <label for="song"> background color </label>
            </div>
            <div class="box">
                <input type="color" value=#ffffff id="back_color" name="background" class="custom">
            </div>
        </div>
        <div class="four">
            <div class="label">
                <label for="song"> text color </label>
            </div>
            <div class="box">
                <input type="color" value=#000000 id="text_color" name="text" class="custom">
            </div>
        </div>

        <div class="button">
            <center><input type="submit" id="search" value="generate" class="search" /></center>
        </div>

        <div class="one">
            <div class="label">
                <label for="album_uri">Album URL:</label>
            </div>
            <div class="box">
                <input type="text" name="album_url" id="album_url" style="font-size:40pt;" size="10" placeholder="https://open.spotify.com/album/6kf46HbnYCZzP6rjvQHYzg?si=CLIPuFl-Q--P7D3CxmM3Rw">
            </div>
            
        </div>

    </form>

        <!-- Right side scroll container for past posters -->
    
        <div class="poster-scroll-container" style="right: 10px;">
            <!-- JavaScript will dynamically add poster items here -->
        </div>
        <a href="{{ url_for('mosaic') }}">examples</a>
        
    <div id="grad1"></div>

    <footer>

        <a href="{{ url_for('about') }}">about page</a>

    </footer>
    <script src="{{ url_for('static', filename='js/auto.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/random.js') }}"></script>
</body>

</html>