<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>music poster</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="icon" href="static/images/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik&display=swap">
</head>

<body>
    <a href="../">
        <h1 class="title"> music poster </h1>
    </a>

   
    <form class="grid" action="/result" method="POST">
        <center>

            <img src="{{ img_data }}">

        </center>

        <div class="one">
            <div class="label">
                <label for="song"> enter an artist </label>
            </div>
            <div class="box">
                <input type="text" style="font-size:40pt;" name="artist" id="artist" size="10" placeholder="artist">
            </div>
        </div>
        <div class="two">
            <div class="label">
                <label for="song"> enter an album </label>
            </div>
            <div class="box">
                <input type="text" style="font-size:40pt;" name="album" id="album" size="10" placeholder="album">
            </div>
        </div>
        <div class="three">
            <div class="label">
                <label for="song"> background color </label>
            </div>
            <div class="box">
                <input type="color" value=#ffffff id="back_color" name="background" class="custom">
            </div>
        </div>
        <div class="four">
            <div class="label">
                <label for="song"> text color </label>
            </div>
            <div class="box">
                <input type="color" value=#000000 id="text_color" name="text" class="custom">
            </div>
        </div>

        <div class="button">
            <center><input type="submit" id="search" value="generate" class="search" /></center>
        </div>


    </form>
    <div class="container"></div>
    <div id="grad1"></div>
    <img id="notes" src="static\images\notes.png">
    <footer>

        <a href="/about">the genius behind this website (click me)</a>

    </footer>
</body>

</html>