@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: "Rubik", sans-serif;
    font-size: 16pt;
    color: #e0e0e0;
    background-color: #202124;
    background-image: url("/static/images/gif8.png");
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1.title {
    font-size: 50pt;
    color: #ffffff;
    text-shadow: 5px 5px 15px #000000;
    margin-top: 30px;
}

h2 {
    font-size: 30pt;
    color: #ffffff;
    margin-bottom: 15px;
    text-shadow: 3px 3px 10px #000000;
}

p, ul {
    font-size: 18pt;
    line-height: 1.8;
    color: #e0e0e0;
    margin: 20px auto;
    max-width: 800px;
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    padding-left: 30px;
    position: relative;
}

ul li:before {
    content: "✔";
    color: #ffcc00;
    font-weight: bold;
    position: absolute;
    left: 0;
}

a {
    text-decoration: none;
    color: #ffcc00;
    font-weight: bold;
}

a:hover {
    color: #ffffff;
    text-shadow: 0 0 10px #ffcc00;
}

.container {
    width: 90vw;
    margin: 50px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

#grad1 {
    height: 15vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: white;
    font-size: 14pt;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-shadow: 0 0 10px #ffcc00;
}

footer .back-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #000000;
    border-radius: 5px;
    font-size: 16pt;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

footer .back-button:hover {
    background-color: #ffffff;
    color: #000000;
    text-shadow: none;
}

