body {
    background-color: rgb(32, 33, 36);
    font-family: "Rubik", sans-serif;
    font-size: 35pt;
    color: #727785;
    margin: 0;
    text-align: center;
}

.mosaic-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
    margin-bottom: 80px; /* To avoid overlapping with the back button */
}

.poster {
    border: 1px solid #ddd; /* Optional border */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

.poster img {
    width: 100%;
    height: auto;
    display: block;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.back-button {
    background-color: #ff5733;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #ff7043;
}
