@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    background-color: rgb(32, 33, 36);
    font-family: "Rubik", sans-serif;
    font-size: 35pt;
    color: #727785;
    background-color: #202124;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    text-align: center;
}

.mosaic-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
}

.poster {
    border: 1px solid #ddd; /* Optional border */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Optional shadow */
}

.poster img {
    width: 100%;
    height: auto;
    display: block;
}

.footer {
    text-align: center;
    color: #fff; /* Change color as needed */
    font-size: 0.8em; /* Smaller text */
    margin-top: 20px; /* Add some space above the footer */
}

.footer p {
    margin: 10px 0; /* Add some space around the paragraph */
}

.footer a {
    font-size: 60pt;
    color: #ffffff;
    text-shadow: 10px 10px 10px #000000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
