@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: "Rubik", sans-serif;
    font-size: 35pt;
    color: #727785;
    background-color: #202124;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

h1 {
    font-size: 40pt;
    color: #ffffff;
    text-shadow: 10px 10px 10px #000000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

#grad1 {
    height: 15vh;
    background-image: linear-gradient(#202124, #000000);
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #000000;
    color: white;
}

.color-square {
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
    margin: 2px;
}

.color-picker-container {
    display: inline-block;
    vertical-align: top;
    margin: 2px;
}

.color-picker-container input[type='color'] {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.download-container {
    margin-top: 20px;
    text-align: center;
}

.download-container a button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-container a button:hover {
    background-color: #12173b;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.poster-container {
    flex-shrink: 0; /* Prevent the image from shrinking */
    text-align: center; /* Center the poster image */
}

.controls {
    display: flex;
    flex-direction: column;
    margin-left: 20px; /* Space between poster and controls */
}

.color-picker-container input[type="color"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.color-controls, .tracklist-controls{
    display: flex;
    flex-direction: column;
}

.tabulated-container, .dotted-container {
    display: flex;

}

/* .custom-color-picker-trigger {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background: url('path/to/your-color-wheel-image.png') no-repeat center center;
    background-size: cover;
    display: inline-block; /* or flex, align as needed */


.color-square {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5px 5px 5px 0; /* Space between squares */
}

/* Larger color picker input */
input[type="color"] {
    width: 40px; /* Larger width for the color picker */
    height: 40px; /* Larger height for the color picker */
    border: none; /* Remove border */
    cursor: pointer;
    margin-top: 10px; /* Space above the color picker */
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }

    .controls {
        margin-left: 0;
        order: 1; /* Reorder to show controls above the poster on smaller screens */
    }

    .poster-container {
        order: 2; /* Reorder to show the poster below the controls on smaller screens */
    }
}