@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    color: #000000;
    background-color: #8d909b;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

header {
    font-size: 100px;
    color: #ffffff;
    text-shadow: 10px 10px 10px #000000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}