@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: "Rubik", sans-serif;
    font-size: 35pt;
    color: #727785;
    background-color: #B859A2;
    background-image: url("/static/images/gif3.png");
    background-size: cover; 
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    text-align: center;
}

h1 {
    font-size: 40pt;
    color: #d2d0b7;
    text-shadow: 7px 7px 7px #912165;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

#grad1 {
    height: 15vh;
    background-image: linear-gradient(#B859A2, #912165);
}

footer {
    text-align: center;
    padding: 9vh;
    background-color: #912165;
    color: white;
}