<html lang="en">
<head>
    <title> Music Poster </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'index.css') }}">
    <link rel="icon" href="https://www.clipartmax.com/png/middle/90-900108_music-icon-music-png.png">
</head>

<body>
    <a href = "../"> <h1 class = "title"> Music Poster </h1> </a>


        <form class = "grid" action = "/result" method = "POST">
            <center>
                
                <img src="{{ img_data }}" >
                   
            </center>

            <label for = "song"> Enter an Artist </label>
            <input type="text" name="artist" id = "artist">
            <label for = "song"> Enter an album </label>
            <input type="text" name="album" id = "album">

            <label for = "song"> background color </label>
            <input type="color" value = #ffffff id = "back_color" name = "background" >
            <label for = "song"> text color </label>
            <input type="color" value = #000000 id = "text_color" name = "text" >


            <center><input type = "Submit"></center>
            
        </form>
</body>
</html>