<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Poster Mosaic</title>
    <link rel="icon" href="static/images/icon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mosaic.css') }}">
    <!-- Axios script without integrity -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="mosaic-container" id="mosaic-container">
        <!-- Preloaded posters from Flask -->
        {% for poster in posters %}
        <div class="poster">
            <img src="{{ url_for('static', filename='posters_resized/' ~ poster) }}" alt="Poster">
        </div>
        {% endfor %}
    </div>

    <!-- Fixed Footer with Back Button -->
    <footer class="footer">
        <button id="back-button" class="back-button" onclick="window.location.href='{{ url_for('home') }}'">Back to Home</button>
    </footer>

    <!-- Include mosaic.js -->
    <script src="{{ url_for('static', filename='js/mosaic.js') }}"></script>
</body>

</html>
